In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [43]:
bx = pd.read_csv(r'C:\Users\Sahan\Documents\Phase_3_Project\CSV\Bronx_2020.csv')
bx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 4 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Fact                                   79 non-null     object
 1   Fact Note                              22 non-null     object
 2   Bronx County, New York                 64 non-null     object
 3   Value Note for Bronx County, New York  0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 2.8+ KB

In [3]:
bk =  pd.read_csv(r'C:\Users\Sahan\Documents\Phase_3_Project\CSV\Brooklyn_2020.csv')

In [4]:
bk

,Fact,Fact Note,"Kings County, New York","Value Note for Kings County, New York","Queens County, New York","Value Note for Queens County, New York",United States,Value Note for United States
0,"Population estimates, July 1, 2023, (V2023)",NaN,"2,561,225",NaN,"2,252,196",NaN,"334,914,895",NaN
1,"Population estimates base, April 1, 2020, (V2023)",NaN,"2,736,119",NaN,"2,405,425",NaN,"331,464,948",NaN
2,"Population, percent change - April 1, 2020 (es...",NaN,-6.4%,NaN,-6.4%,NaN,1.0%,NaN
3,"Population, Census, April 1, 2020",NaN,"2,736,074",NaN,"2,405,464",NaN,"331,449,281",NaN
4,"Population, Census, April 1, 2010",NaN,"2,504,700",NaN,"2,230,722",NaN,"308,745,538",NaN
...,...,...,...,...,...,...,...,...
80,S,Suppressed; does not meet publication standards,NaN,NaN,NaN,NaN,NaN,NaN
81,X,Not applicable,NaN,NaN,NaN,NaN,NaN,NaN
82,Z,Value greater than zero but less than half uni...,NaN,NaN,NaN,NaN,NaN,NaN
83,-,Either no or too few sample observations were ...,NaN,NaN,NaN,NaN,NaN,NaN
84,N,Data for this geographic area cannot be displa...,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
qns = pd.read_csv(r'C:\Users\Sahan\Documents\Phase_3_Project\CSV\Queens_2020.csv')

In [39]:
qns

,Fact,Fact Note,"Queens County, New York","Value Note for Queens County, New York",United States,Value Note for United States
0,"Population estimates, July 1, 2023, (V2023)",NaN,"2,252,196",NaN,"334,914,895",NaN
1,"Population estimates base, April 1, 2020, (V2023)",NaN,"2,405,425",NaN,"331,464,948",NaN
2,"Population, percent change - April 1, 2020 (es...",NaN,-6.4%,NaN,1.0%,NaN
3,"Population, Census, April 1, 2020",NaN,"2,405,464",NaN,"331,449,281",NaN
4,"Population, Census, April 1, 2010",NaN,"2,230,722",NaN,"308,745,538",NaN
...,...,...,...,...,...,...
80,S,Suppressed; does not meet publication standards,NaN,NaN,NaN,NaN
81,X,Not applicable,NaN,NaN,NaN,NaN
82,Z,Value greater than zero but less than half uni...,NaN,NaN,NaN,NaN
83,-,Either no or too few sample observations were ...,NaN,NaN,NaN,NaN
84,N,Data for this geographic area cannot be displa...,NaN,NaN,NaN,NaN

In [7]:
si = pd.read_csv(r'C:\Users\Sahan\Documents\Phase_3_Project\CSV\Staten_2020.csv')
si

,Fact,Fact Note,"Richmond County, New York","Value Note for Richmond County, New York"
0,"Population estimates, July 1, 2023, (V2023)",NaN,"490,687",NaN
1,"Population estimates base, April 1, 2020, (V2023)",NaN,"495,752",NaN
2,"Population, percent change - April 1, 2020 (es...",NaN,-1.0%,NaN
3,"Population, Census, April 1, 2020",NaN,"495,747",NaN
4,"Population, Census, April 1, 2010",NaN,"468,730",NaN
...,...,...,...,...
80,S,Suppressed; does not meet publication standards,NaN,NaN
81,X,Not applicable,NaN,NaN
82,Z,Value greater than zero but less than half uni...,NaN,NaN
83,-,Either no or too few sample observations were ...,NaN,NaN
84,N,Data for this geographic area cannot be displa...,NaN,NaN

In [11]:
mn = pd.read_csv(r'C:\Users\Sahan\Documents\Phase_3_Project\CSV\Manhattan_2020.csv')
mn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Fact                                      79 non-null     object
 1   Fact Note                                 22 non-null     object
 2   New York County, New York                 64 non-null     object
 3   Value Note for New York County, New York  0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 2.8+ KB

In [33]:
mn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Fact                       79 non-null     object
 1   New York County, New York  64 non-null     object
dtypes: object(2)
memory usage: 1.5+ KB

In [35]:
mn

,Fact,"New York County, New York"
0,"Population estimates, July 1, 2023, (V2023)","1,597,451"
1,"Population estimates base, April 1, 2020, (V2023)","1,694,250"
2,"Population, percent change - April 1, 2020 (es...",-5.7%
3,"Population, Census, April 1, 2020","1,694,251"
4,"Population, Census, April 1, 2010","1,585,873"
...,...,...
80,S,NaN
81,X,NaN
82,Z,NaN
83,-,NaN
84,N,NaN

In [37]:
mn['count'] = 1  # Add a dummy count column for pivoting
pivoted_df = mn.pivot_table(index=None, columns='Fact', values='New York County, New York', aggfunc='first')

# Convert the pivoted DataFrame to a single row
single_row_df = pd.DataFrame([pivoted_df.values.flatten()], columns=pivoted_df.columns)

# Display the resulting DataFrame
single_row_df

Fact,"All employer firms, Reference year 2017","American Indian and Alaska Native alone, percent","Asian alone, percent","Bachelor's degree or higher, percent of persons age 25 years+, 2018-2022","Black or African American alone, percent","Building Permits, 2023",FIPS Code,"Female persons, percent","Foreign born persons, percent, 2018-2022","High school graduate or higher, percent of persons age 25 years+, 2018-2022",...,"Total retail sales per capita, 2017","Total retail sales, 2017 ($1,000)","Total transportation and warehousing receipts/revenue, 2017 ($1,000)","Two or More Races, percent","Veteran-owned employer firms, Reference year 2017","Veterans, 2018-2022","White alone, not Hispanic or Latino, percent","White alone, percent","With a disability, under age 65 years, percent, 2018-2022","Women-owned employer firms, Reference year 2017"
0,"86,330",1.2%,13.6%,62.8%,18.4%,"3,030","""36061""",52.3%,28.1%,88.5%,...,"$33,587","54,824,853","4,764,857",3.7%,"2,374","27,778",46.8%,62.9%,6.8%,"18,965"

In [40]:
import pandas as pd

# Function to pivot DataFrame
def pivot_county_df(df, county_name):
    # Create a new DataFrame where 'Fact' values are columns
    pivoted_df = df.pivot_table(index=None, columns='Fact', values=county_name, aggfunc='first')
    
    # Convert the pivoted DataFrame to a single row
    single_row_df = pd.DataFrame([pivoted_df.values.flatten()], columns=pivoted_df.columns)
    
    return single_row_df

# Assuming your DataFrames are named bx, bk, qns, si
# Replace 'County Column' with the respective county names
bx_pivoted = pivot_county_df(bx, 'Bronx County, New York')
bk_pivoted = pivot_county_df(bk, 'Kings County, New York')
qns_pivoted = pivot_county_df(qns, 'Queens County, New York')
si_pivoted = pivot_county_df(si, 'Richmond County, New York')

# Now you have pivoted DataFrames for each county
print("Bronx Pivoted DataFrame:\n", bx_pivoted)
print("Kings Pivoted DataFrame:\n", bk_pivoted)
print("Queens Pivoted DataFrame:\n", qns_pivoted)
print("Richmond Pivoted DataFrame:\n", si_pivoted)

NameError: name 'bx' is not defined

In [60]:
# Function to pivot DataFrame
def pivot_county_df(df, county_col):
    # Pivot the DataFrame
    pivoted_df = df.pivot_table(index=None, columns='Fact', values=county_col, aggfunc='first')
    
    # Convert the pivoted DataFrame to a single row
    single_row_df = pd.DataFrame([pivoted_df.values.flatten()], columns=pivoted_df.columns)
    
    return single_row_df

# Assuming your DataFrames are already defined as bx, bk, qns, si
# Pivot each county DataFrame
bx_pivoted = pivot_county_df(bx, 'Bronx County, New York')
bk_pivoted = pivot_county_df(bk, 'Kings County, New York')
qns_pivoted = pivot_county_df(qns, 'Queens County, New York')
si_pivoted = pivot_county_df(si, 'Richmond County, New York')

# Display results
bx_pivoted

Fact,"All employer firms, Reference year 2017","American Indian and Alaska Native alone, percent","Asian alone, percent","Bachelor's degree or higher, percent of persons age 25 years+, 2018-2022","Black or African American alone, percent","Building Permits, 2023",FIPS Code,"Female persons, percent","Foreign born persons, percent, 2018-2022","High school graduate or higher, percent of persons age 25 years+, 2018-2022",...,"Total retail sales per capita, 2017","Total retail sales, 2017 ($1,000)","Total transportation and warehousing receipts/revenue, 2017 ($1,000)","Two or More Races, percent","Veteran-owned employer firms, Reference year 2017","Veterans, 2018-2022","White alone, not Hispanic or Latino, percent","White alone, percent","With a disability, under age 65 years, percent, 2018-2022","Women-owned employer firms, Reference year 2017"
0,"15,640",3.1%,5.0%,21.2%,45.1%,"5,468","""36005""",52.8%,33.9%,74.5%,...,"$6,355","9,150,286","1,163,686",3.9%,531,"23,482",9.0%,42.6%,11.9%,"2,838"

In [63]:
# Combine all pivoted DataFrames into one
combined_df = pd.concat([bx_pivoted, bk_pivoted, qns_pivoted, si_pivoted, single_row_df], ignore_index=True)

# Display the combined DataFrame
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 64 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   All employer firms, Reference year 2017                                                 5 non-null      object
 1   American Indian and Alaska Native alone, percent                                        5 non-null      object
 2   Asian alone, percent                                                                    5 non-null      object
 3   Bachelor's degree or higher, percent of persons age 25 years+, 2018-2022                5 non-null      object
 4   Black or African American alone, percent                                                5 non-null      object
 5   Building Permits, 2023                                                                  5 non-null      object
 6   FIPS Code                                                                               5 non-null      object
 7   Female persons, percent                                                                 5 non-null      object
 8   Foreign born persons, percent, 2018-2022                                                5 non-null      object
 9   High school graduate or higher, percent of persons age 25 years+, 2018-2022             5 non-null      object
 10  Hispanic or Latino, percent                                                             5 non-null      object
 11  Households with a broadband Internet subscription, percent, 2018-2022                   5 non-null      object
 12  Households with a computer, percent, 2018-2022                                          5 non-null      object
 13  Households, 2018-2022                                                                   5 non-null      object
 14  Housing Units, July 1, 2023, (V2023)                                                    5 non-null      object
 15  In civilian labor force, female, percent of population age 16 years+, 2018-2022         5 non-null      object
 16  In civilian labor force, total, percent of population age 16 years+, 2018-2022          5 non-null      object
 17  Land area in square miles, 2010                                                         5 non-null      object
 18  Land area in square miles, 2020                                                         5 non-null      object
 19  Language other than English spoken at home, percent of persons age 5 years+, 2018-2022  5 non-null      object
 20  Living in same house 1 year ago, percent of persons age 1 year+, 2018-2022              5 non-null      object
 21  Mean travel time to work (minutes), workers age 16 years+, 2018-2022                    5 non-null      object
 22  Median gross rent, 2018-2022                                                            5 non-null      object
 23  Median household income (in 2022 dollars), 2018-2022                                    5 non-null      object
 24  Median selected monthly owner costs -with a mortgage, 2018-2022                         5 non-null      object
 25  Median selected monthly owner costs -without a mortgage, 2018-2022                      5 non-null      object
 26  Median value of owner-occupied housing units, 2018-2022                                 5 non-null      object
 27  Men-owned employer firms, Reference year 2017                                           5 non-null      object
 28  Minority-owned employer firms, Reference year 2017                                      5 non-null      object
 29  Native Hawaiian and Other Pacific Islander alone, percent                               5 non-null      object
 30  Nonminority-owned employer firms, Reference year 2017                                   5 non-null      object
 31  Nonveteran-owned employer firms, Reference year 2017                                    5 non-null      object
 32  Owner-occupied housing unit rate, 2018-2022                                             5 non-null      object
 33  Per capita income in past 12 months (in 2022 dollars), 2018-2022                        5 non-null      object
 34  Persons 65 years and over, percent                                                      5 non-null      object
 35  Persons in poverty, percent                                                             5 non-null      object
 36  Persons per household, 2018-2022                                                        5 non-null      object
 37  Persons under 18 years, percent                                                         5 non-null      object
 38  Persons under 5 years, percent                                                          5 non-null      object
 39  Persons without health insurance, under age 65 years, percent                           5 non-null      object
 40  Population estimates base, April 1, 2020, (V2023)                                       5 non-null      object
 41  Population estimates, July 1, 2023, (V2023)                                             5 non-null      object
 42  Population per square mile, 2010                                                        5 non-null      object
 43  Population per square mile, 2020                                                        5 non-null      object
 44  Population, Census, April 1, 2010                                                       5 non-null      object
 45  Population, Census, April 1, 2020                                                       5 non-null      object
 46  Population, percent change - April 1, 2020 (estimates base) to July 1, 2023, (V2023)    5 non-null      object
 47  Total accommodation and food services sales, 2017 ($1,000)                              5 non-null      object
 48  Total annual payroll, 2022 ($1,000)                                                     5 non-null      object
 49  Total employer establishments, 2022                                                     5 non-null      object
 50  Total employment, 2022                                                                  5 non-null      object
 51  Total employment, percent change, 2021-2022                                             5 non-null      object
 52  Total health care and social assistance receipts/revenue, 2017 ($1,000)                 5 non-null      object
 53  Total nonemployer establishments, 2021                                                  5 non-null      object
 54  Total retail sales per capita, 2017                                                     5 non-null      object
 55  Total retail sales, 2017 ($1,000)                                                       5 non-null      object
 56  Total transportation and warehousing receipts/revenue, 2017 ($1,000)                    5 non-null      object
 57  Two or More Races, percent                                                              5 non-null      object
 58  Veteran-owned employer firms, Reference year 2017                                       5 non-null      object
 59  Veterans, 2018-2022                                                                     5 non-null      object
 60  White alone, not Hispanic or Latino, percent                                            5 non-null      object
 61  White alone, percent                                                                    5 non-null      object
 62  With a disability, under age 65 years, percent, 2018-2022                               5 non-null      object
 63  Women-owned employer firms, Reference year 2017                                         5 non-null      object
dtypes: object(64)
memory usage: 2.6+ KB

In [78]:
# Combine all pivoted DataFrames into one
combined_df = pd.concat([bx_pivoted, bk_pivoted, qns_pivoted, si_pivoted, single_row_df], ignore_index=True)

# Replace the first column with 'Borough' and set the corresponding names
combined_df.insert(0, 'Borough', ['Bronx', 'Brooklyn', 'Queens', 'Staten Island', 'Manhattan'])

# Display the modified combined DataFrame
pd.set_option('display.max_columns', None)
combined_df

Fact,Borough,"All employer firms, Reference year 2017","American Indian and Alaska Native alone, percent","Asian alone, percent","Bachelor's degree or higher, percent of persons age 25 years+, 2018-2022","Black or African American alone, percent","Building Permits, 2023",FIPS Code,"Female persons, percent","Foreign born persons, percent, 2018-2022","High school graduate or higher, percent of persons age 25 years+, 2018-2022","Hispanic or Latino, percent","Households with a broadband Internet subscription, percent, 2018-2022","Households with a computer, percent, 2018-2022","Households, 2018-2022","Housing Units, July 1, 2023, (V2023)","In civilian labor force, female, percent of population age 16 years+, 2018-2022","In civilian labor force, total, percent of population age 16 years+, 2018-2022","Land area in square miles, 2010","Land area in square miles, 2020","Language other than English spoken at home, percent of persons age 5 years+, 2018-2022","Living in same house 1 year ago, percent of persons age 1 year+, 2018-2022","Mean travel time to work (minutes), workers age 16 years+, 2018-2022","Median gross rent, 2018-2022","Median household income (in 2022 dollars), 2018-2022","Median selected monthly owner costs -with a mortgage, 2018-2022","Median selected monthly owner costs -without a mortgage, 2018-2022","Median value of owner-occupied housing units, 2018-2022","Men-owned employer firms, Reference year 2017","Minority-owned employer firms, Reference year 2017","Native Hawaiian and Other Pacific Islander alone, percent","Nonminority-owned employer firms, Reference year 2017","Nonveteran-owned employer firms, Reference year 2017","Owner-occupied housing unit rate, 2018-2022","Per capita income in past 12 months (in 2022 dollars), 2018-2022","Persons 65 years and over, percent","Persons in poverty, percent","Persons per household, 2018-2022","Persons under 18 years, percent","Persons under 5 years, percent","Persons without health insurance, under age 65 years, percent","Population estimates base, April 1, 2020, (V2023)","Population estimates, July 1, 2023, (V2023)","Population per square mile, 2010","Population per square mile, 2020","Population, Census, April 1, 2010","Population, Census, April 1, 2020","Population, percent change - April 1, 2020 (estimates base) to July 1, 2023, (V2023)","Total accommodation and food services sales, 2017 ($1,000)","Total annual payroll, 2022 ($1,000)","Total employer establishments, 2022","Total employment, 2022","Total employment, percent change, 2021-2022","Total health care and social assistance receipts/revenue, 2017 ($1,000)","Total nonemployer establishments, 2021","Total retail sales per capita, 2017","Total retail sales, 2017 ($1,000)","Total transportation and warehousing receipts/revenue, 2017 ($1,000)","Two or More Races, percent","Veteran-owned employer firms, Reference year 2017","Veterans, 2018-2022","White alone, not Hispanic or Latino, percent","White alone, percent","With a disability, under age 65 years, percent, 2018-2022","Women-owned employer firms, Reference year 2017"
0,Bronx,"15,640",3.1%,5.0%,21.2%,45.1%,"5,468","""36005""",52.8%,33.9%,74.5%,55.0%,83.6%,91.6%,"525,387","564,957",54.7%,58.3%,42.10,42.17,58.0%,92.0%,44.6,"$1,401","$47,036","$2,903",$949,"$501,400","10,346","5,889",0.4%,"8,445","13,886",20.0%,"$25,845",15.3%,27.6%,2.64,23.9%,6.3%,7.3%,"1,472,653","1,356,476","32,903.6","34,920.2","1,385,108","1,472,654",-7.9%,"1,418,743","15,050,002","18,380","277,079",3.5%,"13,367,520","108,174","$6,355","9,150,286","1,163,686",3.9%,531,"23,482",9.0%,42.6%,11.9%,"2,838"
1,Brooklyn,"52,976",1.0%,13.1%,40.4%,32.8%,"15,076","""36047""",52.4%,35.3%,83.8%,18.9%,86.3%,91.5%,"997,957","1,110,696",60.1%,63.7%,70.82,69.38,44.2%,90.2%,42.7,"$1,715","$74,692","$3,359","$1,057","$865,300","34,358","16,025",0.1%,"33,928","48,909",30.3%,"$43,165",16.2%,19.8%,2.64,21.8%,6.1%,6.5%,"2,736,119","2,561,225","35,369.1","39,437.8","2,504,700","2,736,074",-6.4%,"4,361,700","34,622,738","61,287","694,266",7.9%,"20,989,493","279,956","$11,076","28,734,814","2,409,494",3.0%,"1,246","33,841",37.2%,50.0%,6.0%,"11,752"
2,Queens,"44,964",1.5%,28.0%,34.8%,20.7%,"7,931","""36081""",51.2%,47.1%,82.8%,28.1%,89.2%,94.2%,"816,859","917,364",58.2%,63.6%,108.53,108.72,55.4%,92.1%,43.6,"$1,847","$82,431","$2,977","$1,042","$677,700","29,262","20,423",0.2%,"22,039","41,558",45.2%,"$39,201",18.7%,13.1%,2.85,19.1%,5.1%,8.7%,"2,405,425","2,252,196","20,553.6","22,124.5","2,230,722","2,405,464",-6.4%,"4,593,736","32,965,718","50,822","579,883",6.7%,"15,735,791","254,212","$8,408","19,297,120","20,371,315",3.2%,"1,032","38,515",24.0%,46.4%,5.8%,"10,125"
3,Staten Island,"8,192",0.8%,14.5%,35.3%,11.5%,460,"""36085""",51.0%,24.8%,88.7%,19.5%,88.1%,94.0%,"170,000","184,969",54.6%,59.9%,58.37,57.52,34.8%,94.0%,43.8,"$1,602","$96,185","$2,865","$1,049","$637,100","5,605","1,684",0.1%,"5,943","7,268",68.6%,"$43,199",17.8%,11.2%,2.86,21.5%,5.2%,5.0%,"495,752","490,687","8,030.3","8,618.2","468,730","495,747",-1.0%,"665,440","5,610,027","9,586","107,422",5.4%,"3,540,659","39,741","$9,043","4,302,741","1,091,017",2.4%,S,"11,522",55.4%,70.7%,6.5%,"1,504"
4,Manhattan,"86,330",1.2%,13.6%,62.8%,18.4%,"3,030","""36061""",52.3%,28.1%,88.5%,24.4%,89.5%,93.9%,"772,601","928,714",62.7%,66.5%,22.83,22.66,38.1%,83.4%,31.8,"$2,024","$99,880","$4,000+","$1,367","$1,104,000","52,638","20,596",0.2%,"56,168","74,680",24.3%,"$89,702",18.8%,17.2%,2.04,13.5%,3.9%,4.7%,"1,694,250","1,597,451","69,467.5","74,781.6","1,585,873","1,694,251",-5.7%,"27,902,302","325,222,442","95,072","2,210,489",9.2%,"44,469,833","204,379","$33,587","54,824,853","4,764,857",3.7%,"2,374","27,778",46.8%,62.9%,6.8%,"18,965"