In [3]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

In [15]:
zil = pd.read_csv(r'C:\Users\Sahan\Documents\Project_3\CSV\zillow NY for-sale properties.csv')
zil

,property_url,property_id,address,street_name,apartment,city,state,latitude,longitude,postcode,...,property_type,property_status,year_build,total_num_units,listing_age,RunDate,agency_name,agent_name,agent_phone,is_owned_by_zillow
0,https://www.zillow.com/homedetails/97-Reservoi...,2066966109,"97 Reservoir, Hawley, NY 18428",Reservoir,NaN,Hawley,NY,NaN,NaN,18428.0,...,LOT,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Listing by: Keyology Group Llc,NaN,NaN,0
1,https://www.zillow.com/homedetails/524-County-...,29962801,"524 County Road 64, Elmira, NY 14903",County Road 64,NaN,Elmira,NY,42.142677,-76.902040,14903.0,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Listing by: Howard Hanna Horseheads,NaN,NaN,0
2,https://www.zillow.com/homedetails/32-Brooksid...,29962922,"32 Brookside Cir, Elmira, NY 14903",Brookside Cir,NaN,Elmira,NY,42.131203,-76.917860,14903.0,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Listing by: Howard Hanna Corning Denison,NaN,NaN,0
3,https://www.zillow.com/homedetails/252-Elmwood...,29971014,"252 Elmwood Ave, Elmira Heights, NY 14903",Elmwood Ave,NaN,Elmira Heights,NY,42.131638,-76.822420,14903.0,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Listing by: Howard Hanna Elmira,NaN,NaN,0
4,https://www.zillow.com/homedetails/3526-Kentuc...,29974158,"3526 Kentucky Ave, Elmira Heights, NY 14903",Kentucky Ave,NaN,Elmira Heights,NY,42.142487,-76.827705,14903.0,...,SINGLE_FAMILY,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Listing by: Howard Hanna Elmira,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96804,https://www.zillow.com/homedetails/333-Lathrop...,32301630,"333 Lathrop Ave, Staten Island, NY 10302",Lathrop Ave,NaN,Staten Island,NY,40.620373,-74.142400,10302.0,...,SINGLE_FAMILY,PENDING,NaN,NaN,-1,2022-04-24 07:34:15,NaN,NaN,NaN,0
96805,https://www.zillow.com/homedetails/128-W-138th...,305898907,"128 W 138th St #5I, New York, NY 10030",W 138th St #5I,NaN,New York,NY,40.816475,-73.941110,10030.0,...,CONDO,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Listing by: Douglas Elliman,NaN,NaN,0
96806,https://www.zillow.com/homedetails/70-Park-Ter...,2064168641,"70 Park Ter E #6, New York, NY 10034",Park Ter E #6,NaN,New York,NY,40.870766,-73.915920,10034.0,...,CONDO,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Listing by: Weichert Realtors,NaN,NaN,0
96807,https://www.zillow.com/homedetails/77-Park-Ter...,122143341,"77 Park Ter E APT D76, New York, NY 10034",Park Ter E APT D76,D76,New York,NY,40.871075,-73.916140,10034.0,...,CONDO,PENDING,NaN,NaN,-1,2022-04-24 07:34:15,Listing by: Douglas Elliman,NaN,NaN,0
96808,https://www.zillow.com/homedetails/77-Park-Ter...,80624971,"77 Park Ter E APT D35, New York, NY 10034",Park Ter E APT D35,D35,New York,NY,40.871017,-73.916140,10034.0,...,CONDO,FOR_SALE,NaN,NaN,-1,2022-04-24 07:34:15,Listing by: Douglas Elliman,NaN,NaN,0

In [16]:
zil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96809 entries, 0 to 96808
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   property_url        96809 non-null  object
 1   property_id         96809 non-null  int64
 2   address             96809 non-null  object
 3   street_name         96802 non-null  object
 4   apartment           12765 non-null  object
 5   city                96809 non-null  object
 6   state               96809 non-null  object
 7   latitude            92392 non-null  float64
 8   longitude           92392 non-null  float64
 9   postcode            96807 non-null  float64
 10  price               96809 non-null  float64
 11  bedroom_number      87030 non-null  float64
 12  bathroom_number     91152 non-null  float64
 13  price_per_unit      69760 non-null  float64
 14  living_space        70643 non-null  float64
 15  land_space          67362 non-null  float64
 16  land_space_unit     67362 non-null  object
 17  broker_id           0 non-null      float64
 18  property_type       96809 non-null  object
 19  property_status     96809 non-null  object
 20  year_build          0 non-null      float64
 21  total_num_units     0 non-null      float64
 22  listing_age         96809 non-null  int64
 23  RunDate             96809 non-null  object
 24  agency_name         94153 non-null  object
 25  agent_name          0 non-null      float64
 26  agent_phone         0 non-null      float64
 27  is_owned_by_zillow  96809 non-null  int64
dtypes: float64(14), int64(3), object(11)
memory usage: 20.7+ MB

In [17]:
zil['price'].value_counts()

699000.0    856
599000.0    805
799000.0    764
499000.0    727
899000.0    596
           ...
569390.0      1
962587.0      1
415750.0      1
19.0          1
39950.0       1
Name: price, Length: 6868, dtype: int64

In [18]:
number_of_brooklyn = (zil['city'] == 'Brooklyn').sum()
number_of_brooklyn

9901

In [19]:
brooklyn_df = zil[zil['city'] == 'Brooklyn'][[ 'city', 'state', 'price', 'bedroom_number', 'bathroom_number', 'price_per_unit']]
brooklyn_df

,city,state,price,bedroom_number,bathroom_number,price_per_unit
49324,Brooklyn,NY,459999.0,2.0,1.0,1008.0
49328,Brooklyn,NY,758000.0,2.0,2.0,421.0
49332,Brooklyn,NY,849000.0,4.0,2.0,463.0
49335,Brooklyn,NY,788000.0,4.0,3.0,525.0
49338,Brooklyn,NY,550000.0,3.0,2.0,361.0
...,...,...,...,...,...,...
96739,Brooklyn,NY,1599000.0,7.0,3.0,940.0
96740,Brooklyn,NY,2550000.0,12.0,4.0,850.0
96741,Brooklyn,NY,965000.0,9.0,5.0,282.0
96742,Brooklyn,NY,525000.0,2.0,2.0,470.0
96743,Brooklyn,NY,569000.0,2.0,2.0,509.0

In [20]:
brooklyn_df.to_csv('brooklyn_df.csv', index=False)

In [21]:
columns_to_drop = ['property_url', 'property_id', 'total_num_units', 'agent_name', 'agent_phone','is_owned_by_zillow','agency_name', 'broker_id', 'apartment', 'postcode', 'RunDate','year_build']
zil_df = zil.drop(columns = columns_to_drop)
zil_df

,address,street_name,city,state,latitude,longitude,price,bedroom_number,bathroom_number,price_per_unit,living_space,land_space,land_space_unit,property_type,property_status,listing_age
0,"97 Reservoir, Hawley, NY 18428",Reservoir,Hawley,NY,NaN,NaN,375000.0,NaN,NaN,NaN,NaN,63.600,acres,LOT,FOR_SALE,-1
1,"524 County Road 64, Elmira, NY 14903",County Road 64,Elmira,NY,42.142677,-76.902040,189900.0,4.0,2.0,110.0,1714.0,0.490,acres,SINGLE_FAMILY,FOR_SALE,-1
2,"32 Brookside Cir, Elmira, NY 14903",Brookside Cir,Elmira,NY,42.131203,-76.917860,284900.0,4.0,3.0,112.0,2533.0,0.586,acres,SINGLE_FAMILY,FOR_SALE,-1
3,"252 Elmwood Ave, Elmira Heights, NY 14903",Elmwood Ave,Elmira Heights,NY,42.131638,-76.822420,119900.0,3.0,1.0,109.0,1100.0,10454.400,sqft,SINGLE_FAMILY,FOR_SALE,-1
4,"3526 Kentucky Ave, Elmira Heights, NY 14903",Kentucky Ave,Elmira Heights,NY,42.142487,-76.827705,124900.0,4.0,2.0,67.0,1864.0,0.275,acres,SINGLE_FAMILY,FOR_SALE,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96804,"333 Lathrop Ave, Staten Island, NY 10302",Lathrop Ave,Staten Island,NY,40.620373,-74.142400,499900.0,3.0,2.0,699.0,715.0,4750.000,sqft,SINGLE_FAMILY,PENDING,-1
96805,"128 W 138th St #5I, New York, NY 10030",W 138th St #5I,New York,NY,40.816475,-73.941110,330000.0,1.0,1.0,440.0,750.0,NaN,NaN,CONDO,FOR_SALE,-1
96806,"70 Park Ter E #6, New York, NY 10034",Park Ter E #6,New York,NY,40.870766,-73.915920,418800.0,1.0,1.0,NaN,NaN,NaN,NaN,CONDO,FOR_SALE,-1
96807,"77 Park Ter E APT D76, New York, NY 10034",Park Ter E APT D76,New York,NY,40.871075,-73.916140,410000.0,1.0,1.0,512.0,800.0,NaN,NaN,CONDO,PENDING,-1
96808,"77 Park Ter E APT D35, New York, NY 10034",Park Ter E APT D35,New York,NY,40.871017,-73.916140,520000.0,2.0,1.0,533.0,975.0,NaN,NaN,CONDO,FOR_SALE,-1

In [22]:

zil_df['city'].value_counts().head(30)

New York            12579
Brooklyn             9901
Flushing             2774
Bronx                2770
Jamaica              1763
Staten Island        1657
Buffalo              1553
Rochester            1435
Syracuse              763
Forest Hills          698
Schenectady           694
Yonkers               685
Long Island City      680
Albany                541
White Plains          438
Jackson Heights       403
Poughkeepsie          394
Astoria               393
Great Neck            389
Troy                  388
Scarsdale             379
Binghamton            378
Niagara Falls         349
Rego Park             336
Bayside               328
Newburgh              322
East Hampton          319
Middletown            309
Saratoga Springs      301
Mount Vernon          300
Name: city, dtype: int64

In [23]:
zil_df['property_type'].value_counts()

SINGLE_FAMILY    42738
CONDO            29508
MULTI_FAMILY     11812
LOT               9559
TOWNHOUSE         1792
MANUFACTURED       842
APARTMENT          558
Name: property_type, dtype: int64

In [24]:
values_to_replace = ['Flushing', 'Jamaica', 'Forest Hills', 'Long Island City', 
                     'Jackson Heights', 'Astoria', 'Rego Park', 'Bayside']

In [25]:
zil_df['city'] = zil_df['city'].replace(values_to_replace, 'Queens')

In [26]:
zil_df

,address,street_name,city,state,latitude,longitude,price,bedroom_number,bathroom_number,price_per_unit,living_space,land_space,land_space_unit,property_type,property_status,listing_age
0,"97 Reservoir, Hawley, NY 18428",Reservoir,Hawley,NY,NaN,NaN,375000.0,NaN,NaN,NaN,NaN,63.600,acres,LOT,FOR_SALE,-1
1,"524 County Road 64, Elmira, NY 14903",County Road 64,Elmira,NY,42.142677,-76.902040,189900.0,4.0,2.0,110.0,1714.0,0.490,acres,SINGLE_FAMILY,FOR_SALE,-1
2,"32 Brookside Cir, Elmira, NY 14903",Brookside Cir,Elmira,NY,42.131203,-76.917860,284900.0,4.0,3.0,112.0,2533.0,0.586,acres,SINGLE_FAMILY,FOR_SALE,-1
3,"252 Elmwood Ave, Elmira Heights, NY 14903",Elmwood Ave,Elmira Heights,NY,42.131638,-76.822420,119900.0,3.0,1.0,109.0,1100.0,10454.400,sqft,SINGLE_FAMILY,FOR_SALE,-1
4,"3526 Kentucky Ave, Elmira Heights, NY 14903",Kentucky Ave,Elmira Heights,NY,42.142487,-76.827705,124900.0,4.0,2.0,67.0,1864.0,0.275,acres,SINGLE_FAMILY,FOR_SALE,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96804,"333 Lathrop Ave, Staten Island, NY 10302",Lathrop Ave,Staten Island,NY,40.620373,-74.142400,499900.0,3.0,2.0,699.0,715.0,4750.000,sqft,SINGLE_FAMILY,PENDING,-1
96805,"128 W 138th St #5I, New York, NY 10030",W 138th St #5I,New York,NY,40.816475,-73.941110,330000.0,1.0,1.0,440.0,750.0,NaN,NaN,CONDO,FOR_SALE,-1
96806,"70 Park Ter E #6, New York, NY 10034",Park Ter E #6,New York,NY,40.870766,-73.915920,418800.0,1.0,1.0,NaN,NaN,NaN,NaN,CONDO,FOR_SALE,-1
96807,"77 Park Ter E APT D76, New York, NY 10034",Park Ter E APT D76,New York,NY,40.871075,-73.916140,410000.0,1.0,1.0,512.0,800.0,NaN,NaN,CONDO,PENDING,-1
96808,"77 Park Ter E APT D35, New York, NY 10034",Park Ter E APT D35,New York,NY,40.871017,-73.916140,520000.0,2.0,1.0,533.0,975.0,NaN,NaN,CONDO,FOR_SALE,-1

In [27]:
zil_df['city'].value_counts().head(30)

New York            12579
Brooklyn             9901
Queens               7475
Bronx                2770
Staten Island        1657
Buffalo              1553
Rochester            1435
Syracuse              763
Schenectady           694
Yonkers               685
Albany                541
White Plains          438
Poughkeepsie          394
Great Neck            389
Troy                  388
Scarsdale             379
Binghamton            378
Niagara Falls         349
Newburgh              322
East Hampton          319
Middletown            309
Saratoga Springs      301
Mount Vernon          300
Utica                 289
Woodside              285
East Elmhurst         283
New Rochelle          273
Ithaca                272
Bronxville            267
Long Beach            260
Name: city, dtype: int64

In [28]:
values_to_keep = ['New York', 'Brooklyn', 'Bronx', 'Queens', 'Staten Island']

In [29]:
filtered_df = zil_df[zil_df['city'].isin(values_to_keep)]

In [30]:
filtered_df

,address,street_name,city,state,latitude,longitude,price,bedroom_number,bathroom_number,price_per_unit,living_space,land_space,land_space_unit,property_type,property_status,listing_age
38193,"14004 135th Ave, Jamaica, NY 11436",135th Ave,Queens,NY,40.667847,-73.79789,749000.0,4.0,3.0,832.0,900.0,3924.0,sqft,MULTI_FAMILY,FOR_SALE,-1
38197,"120-28 142nd St, Jamaica, NY 11436",28 142nd St,Queens,NY,40.675430,-73.79936,529000.0,3.0,2.0,435.0,1216.0,3000.0,sqft,SINGLE_FAMILY,FOR_SALE,-1
38201,"12028 142nd St, Jamaica, NY 11436",142nd St,Queens,NY,40.675430,-73.79936,529000.0,3.0,2.0,435.0,1216.0,3000.0,sqft,SINGLE_FAMILY,FOR_SALE,-1
38205,"117-11 Inwood Street, Jamaica, NY 11436",11 Inwood Street,Queens,NY,40.679550,-73.79507,275000.0,3.0,1.0,163.0,1680.0,2200.0,sqft,SINGLE_FAMILY,PENDING,-1
38209,"130-11 147th Street, S. Ozone Park, NY 11436",11 147th Street,Queens,NY,40.669827,-73.79150,575000.0,2.0,2.0,NaN,NaN,2000.0,sqft,SINGLE_FAMILY,FOR_SALE,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96804,"333 Lathrop Ave, Staten Island, NY 10302",Lathrop Ave,Staten Island,NY,40.620373,-74.14240,499900.0,3.0,2.0,699.0,715.0,4750.0,sqft,SINGLE_FAMILY,PENDING,-1
96805,"128 W 138th St #5I, New York, NY 10030",W 138th St #5I,New York,NY,40.816475,-73.94111,330000.0,1.0,1.0,440.0,750.0,NaN,NaN,CONDO,FOR_SALE,-1
96806,"70 Park Ter E #6, New York, NY 10034",Park Ter E #6,New York,NY,40.870766,-73.91592,418800.0,1.0,1.0,NaN,NaN,NaN,NaN,CONDO,FOR_SALE,-1
96807,"77 Park Ter E APT D76, New York, NY 10034",Park Ter E APT D76,New York,NY,40.871075,-73.91614,410000.0,1.0,1.0,512.0,800.0,NaN,NaN,CONDO,PENDING,-1
96808,"77 Park Ter E APT D35, New York, NY 10034",Park Ter E APT D35,New York,NY,40.871017,-73.91614,520000.0,2.0,1.0,533.0,975.0,NaN,NaN,CONDO,FOR_SALE,-1

In [31]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34382 entries, 38193 to 96808
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          34382 non-null  object
 1   street_name      34381 non-null  object
 2   city             34382 non-null  object
 3   state            34382 non-null  object
 4   latitude         33936 non-null  float64
 5   longitude        33936 non-null  float64
 6   price            34382 non-null  float64
 7   bedroom_number   33462 non-null  float64
 8   bathroom_number  34107 non-null  float64
 9   price_per_unit   26466 non-null  float64
 10  living_space     26513 non-null  float64
 11  land_space       12018 non-null  float64
 12  land_space_unit  12018 non-null  object
 13  property_type    34382 non-null  object
 14  property_status  34382 non-null  object
 15  listing_age      34382 non-null  int64
dtypes: float64(8), int64(1), object(7)
memory usage: 4.5+ MB

In [32]:
columns_to_export = ['street_name', 'city', 'price', 'bedroom_number', 
                     'price_per_unit', 'living_space', 'land_space', 
                     'land_space_unit', 'property_type']

In [53]:
export_df = filtered_df[columns_to_export]

In [34]:
filtered_df.to_csv('filtered_df.csv', index=False)  # Change the filename as needed