In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
zil = pd.read_csv(r'C:\Users\Sahan\Documents\Phase_3_Project\CSV\zil_2.csv')

In [2]:
zil

,street_name,city,price,bedroom_number,price_per_unit,living_space,land_space,land_space_unit,property_type
0,135th Ave,Queens,749000.0,4.0,832.0,900.0,3924.0,sqft,MULTI_FAMILY
1,28 142nd St,Queens,529000.0,3.0,435.0,1216.0,3000.0,sqft,SINGLE_FAMILY
2,142nd St,Queens,529000.0,3.0,435.0,1216.0,3000.0,sqft,SINGLE_FAMILY
3,11 Inwood Street,Queens,275000.0,3.0,163.0,1680.0,2200.0,sqft,SINGLE_FAMILY
4,11 147th Street,Queens,575000.0,2.0,NaN,NaN,2000.0,sqft,SINGLE_FAMILY
...,...,...,...,...,...,...,...,...,...
34377,Lathrop Ave,Staten Island,499900.0,3.0,699.0,715.0,4750.0,sqft,SINGLE_FAMILY
34378,W 138th St #5I,New York,330000.0,1.0,440.0,750.0,NaN,NaN,CONDO
34379,Park Ter E #6,New York,418800.0,1.0,NaN,NaN,NaN,NaN,CONDO
34380,Park Ter E APT D76,New York,410000.0,1.0,512.0,800.0,NaN,NaN,CONDO
34381,Park Ter E APT D35,New York,520000.0,2.0,533.0,975.0,NaN,NaN,CONDO

In [3]:
census = pd.read_csv(r'C:\Users\Sahan\Documents\Phase_3_Project\CSV\censusNYC.csv')

In [4]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 65 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   Borough                                                                                 5 non-null      object
 1   All employer firms, Reference year 2017                                                 5 non-null      object
 2   American Indian and Alaska Native alone, percent                                        5 non-null      object
 3   Asian alone, percent                                                                    5 non-null      object
 4   Bachelor's degree or higher, percent of persons age 25 years+, 2018-2022                5 non-null      object
 5   Black or African American alone, percent                                                5 non-null      object
 6   Building Permits, 2023                                                                  5 non-null      object
 7   FIPS Code                                                                               5 non-null      object
 8   Female persons, percent                                                                 5 non-null      object
 9   Foreign born persons, percent, 2018-2022                                                5 non-null      object
 10  High school graduate or higher, percent of persons age 25 years+, 2018-2022             5 non-null      object
 11  Hispanic or Latino, percent                                                             5 non-null      object
 12  Households with a broadband Internet subscription, percent, 2018-2022                   5 non-null      object
 13  Households with a computer, percent, 2018-2022                                          5 non-null      object
 14  Households, 2018-2022                                                                   5 non-null      object
 15  Housing Units, July 1, 2023, (V2023)                                                    5 non-null      object
 16  In civilian labor force, female, percent of population age 16 years+, 2018-2022         5 non-null      object
 17  In civilian labor force, total, percent of population age 16 years+, 2018-2022          5 non-null      object
 18  Land area in square miles, 2010                                                         5 non-null      float64
 19  Land area in square miles, 2020                                                         5 non-null      float64
 20  Language other than English spoken at home, percent of persons age 5 years+, 2018-2022  5 non-null      object
 21  Living in same house 1 year ago, percent of persons age 1 year+, 2018-2022              5 non-null      object
 22  Mean travel time to work (minutes), workers age 16 years+, 2018-2022                    5 non-null      float64
 23  Median gross rent, 2018-2022                                                            5 non-null      object
 24  Median household income (in 2022 dollars), 2018-2022                                    5 non-null      object
 25  Median selected monthly owner costs -with a mortgage, 2018-2022                         5 non-null      object
 26  Median selected monthly owner costs -without a mortgage, 2018-2022                      5 non-null      object
 27  Median value of owner-occupied housing units, 2018-2022                                 5 non-null      object
 28  Men-owned employer firms, Reference year 2017                                           5 non-null      object
 29  Minority-owned employer firms, Reference year 2017                                      5 non-null      object
 30  Native Hawaiian and Other Pacific Islander alone, percent                               5 non-null      object
 31  Nonminority-owned employer firms, Reference year 2017                                   5 non-null      object
 32  Nonveteran-owned employer firms, Reference year 2017                                    5 non-null      object
 33  Owner-occupied housing unit rate, 2018-2022                                             5 non-null      object
 34  Per capita income in past 12 months (in 2022 dollars), 2018-2022                        5 non-null      object
 35  Persons 65 years and over, percent                                                      5 non-null      object
 36  Persons in poverty, percent                                                             5 non-null      object
 37  Persons per household, 2018-2022                                                        5 non-null      float64
 38  Persons under 18 years, percent                                                         5 non-null      object
 39  Persons under 5 years, percent                                                          5 non-null      object
 40  Persons without health insurance, under age 65 years, percent                           5 non-null      object
 41  Population estimates base, April 1, 2020, (V2023)                                       5 non-null      object
 42  Population estimates, July 1, 2023, (V2023)                                             5 non-null      object
 43  Population per square mile, 2010                                                        5 non-null      object
 44  Population per square mile, 2020                                                        5 non-null      object
 45  Population, Census, April 1, 2010                                                       5 non-null      object
 46  Population, Census, April 1, 2020                                                       5 non-null      object
 47  Population, percent change - April 1, 2020 (estimates base) to July 1, 2023, (V2023)    5 non-null      object
 48  Total accommodation and food services sales, 2017 ($1,000)                              5 non-null      object
 49  Total annual payroll, 2022 ($1,000)                                                     5 non-null      object
 50  Total employer establishments, 2022                                                     5 non-null      object
 51  Total employment, 2022                                                                  5 non-null      object
 52  Total employment, percent change, 2021-2022                                             5 non-null      object
 53  Total health care and social assistance receipts/revenue, 2017 ($1,000)                 5 non-null      object
 54  Total nonemployer establishments, 2021                                                  5 non-null      object
 55  Total retail sales per capita, 2017                                                     5 non-null      object
 56  Total retail sales, 2017 ($1,000)                                                       5 non-null      object
 57  Total transportation and warehousing receipts/revenue, 2017 ($1,000)                    5 non-null      object
 58  Two or More Races, percent                                                              5 non-null      object
 59  Veteran-owned employer firms, Reference year 2017                                       5 non-null      object
 60  Veterans, 2018-2022                                                                     5 non-null      object
 61  White alone, not Hispanic or Latino, percent                                            5 non-null      object
 62  White alone, percent                                                                    5 non-null      object
 63  With a disability, under age 65 years, percent, 2018-2022                               5 non-null      object
 64  Women-owned employer firms, Reference year 2017                                         5 non-null      object
dtypes: float64(4), object(61)
memory usage: 2.7+ KB

In [5]:
zil['city'] = zil['city'].replace('New York', 'Manhattan')
zil

,street_name,city,price,bedroom_number,price_per_unit,living_space,land_space,land_space_unit,property_type
0,135th Ave,Queens,749000.0,4.0,832.0,900.0,3924.0,sqft,MULTI_FAMILY
1,28 142nd St,Queens,529000.0,3.0,435.0,1216.0,3000.0,sqft,SINGLE_FAMILY
2,142nd St,Queens,529000.0,3.0,435.0,1216.0,3000.0,sqft,SINGLE_FAMILY
3,11 Inwood Street,Queens,275000.0,3.0,163.0,1680.0,2200.0,sqft,SINGLE_FAMILY
4,11 147th Street,Queens,575000.0,2.0,NaN,NaN,2000.0,sqft,SINGLE_FAMILY
...,...,...,...,...,...,...,...,...,...
34377,Lathrop Ave,Staten Island,499900.0,3.0,699.0,715.0,4750.0,sqft,SINGLE_FAMILY
34378,W 138th St #5I,Manhattan,330000.0,1.0,440.0,750.0,NaN,NaN,CONDO
34379,Park Ter E #6,Manhattan,418800.0,1.0,NaN,NaN,NaN,NaN,CONDO
34380,Park Ter E APT D76,Manhattan,410000.0,1.0,512.0,800.0,NaN,NaN,CONDO
34381,Park Ter E APT D35,Manhattan,520000.0,2.0,533.0,975.0,NaN,NaN,CONDO

In [6]:
df = pd.merge(zil, census, left_on='city', right_on='Borough', how='inner')

In [7]:
df

,street_name,city,price,bedroom_number,price_per_unit,living_space,land_space,land_space_unit,property_type,Borough,...,"Total retail sales per capita, 2017","Total retail sales, 2017 ($1,000)","Total transportation and warehousing receipts/revenue, 2017 ($1,000)","Two or More Races, percent","Veteran-owned employer firms, Reference year 2017","Veterans, 2018-2022","White alone, not Hispanic or Latino, percent","White alone, percent","With a disability, under age 65 years, percent, 2018-2022","Women-owned employer firms, Reference year 2017"
0,135th Ave,Queens,749000.0,4.0,832.0,900.0,3924.0,sqft,MULTI_FAMILY,Queens,...,"$8,408","19,297,120","20,371,315",3.2%,"1,032","38,515",24.0%,46.4%,5.8%,"10,125"
1,28 142nd St,Queens,529000.0,3.0,435.0,1216.0,3000.0,sqft,SINGLE_FAMILY,Queens,...,"$8,408","19,297,120","20,371,315",3.2%,"1,032","38,515",24.0%,46.4%,5.8%,"10,125"
2,142nd St,Queens,529000.0,3.0,435.0,1216.0,3000.0,sqft,SINGLE_FAMILY,Queens,...,"$8,408","19,297,120","20,371,315",3.2%,"1,032","38,515",24.0%,46.4%,5.8%,"10,125"
3,11 Inwood Street,Queens,275000.0,3.0,163.0,1680.0,2200.0,sqft,SINGLE_FAMILY,Queens,...,"$8,408","19,297,120","20,371,315",3.2%,"1,032","38,515",24.0%,46.4%,5.8%,"10,125"
4,11 147th Street,Queens,575000.0,2.0,NaN,NaN,2000.0,sqft,SINGLE_FAMILY,Queens,...,"$8,408","19,297,120","20,371,315",3.2%,"1,032","38,515",24.0%,46.4%,5.8%,"10,125"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24476,Lathrop Ave,Staten Island,499900.0,3.0,699.0,715.0,4750.0,sqft,SINGLE_FAMILY,Staten Island,...,"$9,043","4,302,741","1,091,017",2.4%,S,"11,522",55.4%,70.7%,6.5%,"1,504"
24477,W 138th St #5I,Manhattan,330000.0,1.0,440.0,750.0,NaN,NaN,CONDO,Manhattan,...,"$33,587","54,824,853","4,764,857",3.7%,"2,374","27,778",46.8%,62.9%,6.8%,"18,965"
24478,Park Ter E #6,Manhattan,418800.0,1.0,NaN,NaN,NaN,NaN,CONDO,Manhattan,...,"$33,587","54,824,853","4,764,857",3.7%,"2,374","27,778",46.8%,62.9%,6.8%,"18,965"
24479,Park Ter E APT D76,Manhattan,410000.0,1.0,512.0,800.0,NaN,NaN,CONDO,Manhattan,...,"$33,587","54,824,853","4,764,857",3.7%,"2,374","27,778",46.8%,62.9%,6.8%,"18,965"
24480,Park Ter E APT D35,Manhattan,520000.0,2.0,533.0,975.0,NaN,NaN,CONDO,Manhattan,...,"$33,587","54,824,853","4,764,857",3.7%,"2,374","27,778",46.8%,62.9%,6.8%,"18,965"

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24481 entries, 0 to 24480
Data columns (total 74 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   street_name                                                                             24480 non-null  object
 1   city                                                                                    24481 non-null  object
 2   price                                                                                   24481 non-null  float64
 3   bedroom_number                                                                          24121 non-null  float64
 4   price_per_unit                                                                          17863 non-null  float64
 5   living_space                                                                            17899 non-null  float64
 6   land_space                                                                              7494 non-null   float64
 7   land_space_unit                                                                         7494 non-null   object
 8   property_type                                                                           24481 non-null  object
 9   Borough                                                                                 24481 non-null  object
 10  All employer firms, Reference year 2017                                                 24481 non-null  object
 11  American Indian and Alaska Native alone, percent                                        24481 non-null  object
 12  Asian alone, percent                                                                    24481 non-null  object
 13  Bachelor's degree or higher, percent of persons age 25 years+, 2018-2022                24481 non-null  object
 14  Black or African American alone, percent                                                24481 non-null  object
 15  Building Permits, 2023                                                                  24481 non-null  object
 16  FIPS Code                                                                               24481 non-null  object
 17  Female persons, percent                                                                 24481 non-null  object
 18  Foreign born persons, percent, 2018-2022                                                24481 non-null  object
 19  High school graduate or higher, percent of persons age 25 years+, 2018-2022             24481 non-null  object
 20  Hispanic or Latino, percent                                                             24481 non-null  object
 21  Households with a broadband Internet subscription, percent, 2018-2022                   24481 non-null  object
 22  Households with a computer, percent, 2018-2022                                          24481 non-null  object
 23  Households, 2018-2022                                                                   24481 non-null  object
 24  Housing Units, July 1, 2023, (V2023)                                                    24481 non-null  object
 25  In civilian labor force, female, percent of population age 16 years+, 2018-2022         24481 non-null  object
 26  In civilian labor force, total, percent of population age 16 years+, 2018-2022          24481 non-null  object
 27  Land area in square miles, 2010                                                         24481 non-null  float64
 28  Land area in square miles, 2020                                                         24481 non-null  float64
 29  Language other than English spoken at home, percent of persons age 5 years+, 2018-2022  24481 non-null  object
 30  Living in same house 1 year ago, percent of persons age 1 year+, 2018-2022              24481 non-null  object
 31  Mean travel time to work (minutes), workers age 16 years+, 2018-2022                    24481 non-null  float64
 32  Median gross rent, 2018-2022                                                            24481 non-null  object
 33  Median household income (in 2022 dollars), 2018-2022                                    24481 non-null  object
 34  Median selected monthly owner costs -with a mortgage, 2018-2022                         24481 non-null  object
 35  Median selected monthly owner costs -without a mortgage, 2018-2022                      24481 non-null  object
 36  Median value of owner-occupied housing units, 2018-2022                                 24481 non-null  object
 37  Men-owned employer firms, Reference year 2017                                           24481 non-null  object
 38  Minority-owned employer firms, Reference year 2017                                      24481 non-null  object
 39  Native Hawaiian and Other Pacific Islander alone, percent                               24481 non-null  object
 40  Nonminority-owned employer firms, Reference year 2017                                   24481 non-null  object
 41  Nonveteran-owned employer firms, Reference year 2017                                    24481 non-null  object
 42  Owner-occupied housing unit rate, 2018-2022                                             24481 non-null  object
 43  Per capita income in past 12 months (in 2022 dollars), 2018-2022                        24481 non-null  object
 44  Persons 65 years and over, percent                                                      24481 non-null  object
 45  Persons in poverty, percent                                                             24481 non-null  object
 46  Persons per household, 2018-2022                                                        24481 non-null  float64
 47  Persons under 18 years, percent                                                         24481 non-null  object
 48  Persons under 5 years, percent                                                          24481 non-null  object
 49  Persons without health insurance, under age 65 years, percent                           24481 non-null  object
 50  Population estimates base, April 1, 2020, (V2023)                                       24481 non-null  object
 51  Population estimates, July 1, 2023, (V2023)                                             24481 non-null  object
 52  Population per square mile, 2010                                                        24481 non-null  object
 53  Population per square mile, 2020                                                        24481 non-null  object
 54  Population, Census, April 1, 2010                                                       24481 non-null  object
 55  Population, Census, April 1, 2020                                                       24481 non-null  object
 56  Population, percent change - April 1, 2020 (estimates base) to July 1, 2023, (V2023)    24481 non-null  object
 57  Total accommodation and food services sales, 2017 ($1,000)                              24481 non-null  object
 58  Total annual payroll, 2022 ($1,000)                                                     24481 non-null  object
 59  Total employer establishments, 2022                                                     24481 non-null  object
 60  Total employment, 2022                                                                  24481 non-null  object
 61  Total employment, percent change, 2021-2022                                             24481 non-null  object
 62  Total health care and social assistance receipts/revenue, 2017 ($1,000)                 24481 non-null  object
 63  Total nonemployer establishments, 2021                                                  24481 non-null  object
 64  Total retail sales per capita, 2017                                                     24481 non-null  object
 65  Total retail sales, 2017 ($1,000)                                                       24481 non-null  object
 66  Total transportation and warehousing receipts/revenue, 2017 ($1,000)                    24481 non-null  object
 67  Two or More Races, percent                                                              24481 non-null  object
 68  Veteran-owned employer firms, Reference year 2017                                       24481 non-null  object
 69  Veterans, 2018-2022                                                                     24481 non-null  object
 70  White alone, not Hispanic or Latino, percent                                            24481 non-null  object
 71  White alone, percent                                                                    24481 non-null  object
 72  With a disability, under age 65 years, percent, 2018-2022                               24481 non-null  object
 73  Women-owned employer firms, Reference year 2017                                         24481 non-null  object
dtypes: float64(9), object(65)
memory usage: 13.8+ MB

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [10]:
min_price = df[df['price']==min].min()
min_price

street_name                                                  NaN
city                                                         NaN
price                                                        NaN
bedroom_number                                               NaN
price_per_unit                                               NaN
                                                            ...
Veterans, 2018-2022                                          NaN
White alone, not Hispanic or Latino, percent                 NaN
White alone, percent                                         NaN
With a disability, under age 65 years, percent, 2018-2022    NaN
Women-owned employer firms, Reference year 2017              NaN
Length: 74, dtype: object

In [13]:
top_10_lowest_prices = df.nsmallest(10, 'price')
print(top_10_lowest_prices)
top_10_lowest_prices_values = df['price'].nsmallest(10)
print(top_10_lowest_prices_values)

          street_name           city  price  bedroom_number  price_per_unit  \
23545        180th St         Queens    0.0             4.0             0.0
23555        43rd Ave         Queens    0.0             6.0             0.0
23557    Ditmars Blvd         Queens    0.0             3.0             0.0
23610        59th Ave         Queens    0.0             5.0             0.0
23640       Bangor St  Staten Island    0.0             5.0             0.0
23652  Brookhaven Ave         Queens    0.0             0.0             0.0
23731       102nd Ave         Queens    0.0             5.0             0.0
23734       143rd Ave         Queens    0.0             3.0             0.0
23741        124th St         Queens    0.0             3.0             0.0
23838       Dennis St         Queens    0.0             NaN             0.0

       living_space  land_space land_space_unit  property_type        Borough  \
23545        1542.0      3920.0            sqft   MULTI_FAMILY         Queens
23555        2004.0      3920.0            sqft   MULTI_FAMILY         Queens
23557        1575.0      3920.0            sqft  SINGLE_FAMILY         Queens
23610        1488.0      2613.0            sqft      APARTMENT         Queens
23640        2440.0      3920.0            sqft   MULTI_FAMILY  Staten Island
23652        1090.0      1742.0            sqft  SINGLE_FAMILY         Queens
23731        1800.0      3484.0            sqft   MULTI_FAMILY         Queens
23734        1617.0      4791.0            sqft  SINGLE_FAMILY         Queens
23741        1216.0      4791.0            sqft  SINGLE_FAMILY         Queens
23838        1056.0      6534.0            sqft  SINGLE_FAMILY         Queens

       ... Total retail sales per capita, 2017  \
23545  ...                              $8,408
23555  ...                              $8,408
23557  ...                              $8,408
23610  ...                              $8,408
23640  ...                              $9,043
23652  ...                              $8,408
23731  ...                              $8,408
23734  ...                              $8,408
23741  ...                              $8,408
23838  ...                              $8,408

      Total retail sales, 2017 ($1,000)  \
23545                        19,297,120
23555                        19,297,120
23557                        19,297,120
23610                        19,297,120
23640                         4,302,741
23652                        19,297,120
23731                        19,297,120
23734                        19,297,120
23741                        19,297,120
23838                        19,297,120

      Total transportation and warehousing receipts/revenue, 2017 ($1,000)  \
23545                                         20,371,315
23555                                         20,371,315
23557                                         20,371,315
23610                                         20,371,315
23640                                          1,091,017
23652                                         20,371,315
23731                                         20,371,315
23734                                         20,371,315
23741                                         20,371,315
23838                                         20,371,315

      Two or More Races, percent  \
23545                       3.2%
23555                       3.2%
23557                       3.2%
23610                       3.2%
23640                       2.4%
23652                       3.2%
23731                       3.2%
23734                       3.2%
23741                       3.2%
23838                       3.2%

      Veteran-owned employer firms, Reference year 2017 Veterans, 2018-2022  \
23545                                             1,032              38,515
23555                                             1,032              38,515
23557                                             1,032              38,515
23610                                             1,032              38,515
23640                                                 S              11,522
23652                                             1,032              38,515
23731                                             1,032              38,515
23734                                             1,032              38,515
23741                                             1,032              38,515
23838                                             1,032              38,515

      White alone, not Hispanic or Latino, percent White alone, percent  \
23545                                        24.0%                46.4%
23555                                        24.0%                46.4%
23557                                        24.0%                46.4%
23610                                        24.0%                46.4%
23640                                        55.4%                70.7%
23652                                        24.0%                46.4%
23731                                        24.0%                46.4%
23734                                        24.0%                46.4%
23741                                        24.0%                46.4%
23838                                        24.0%                46.4%

      With a disability, under age 65 years, percent, 2018-2022  \
23545                                               5.8%
23555                                               5.8%
23557                                               5.8%
23610                                               5.8%
23640                                               6.5%
23652                                               5.8%
23731                                               5.8%
23734                                               5.8%
23741                                               5.8%
23838                                               5.8%

      Women-owned employer firms, Reference year 2017
23545                                          10,125
23555                                          10,125
23557                                          10,125
23610                                          10,125
23640                                           1,504
23652                                          10,125
23731                                          10,125
23734                                          10,125
23741                                          10,125
23838                                          10,125

[10 rows x 74 columns]
23545    0.0
23555    0.0
23557    0.0
23610    0.0
23640    0.0
23652    0.0
23731    0.0
23734    0.0
23741    0.0
23838    0.0
Name: price, dtype: float64

In [14]:
df = df[df['price'] != 0.0]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24451 entries, 0 to 24480
Data columns (total 74 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   street_name                                                                             24450 non-null  object
 1   city                                                                                    24451 non-null  object
 2   price                                                                                   24451 non-null  float64
 3   bedroom_number                                                                          24100 non-null  float64
 4   price_per_unit                                                                          17833 non-null  float64
 5   living_space                                                                            17869 non-null  float64
 6   land_space                                                                              7467 non-null   float64
 7   land_space_unit                                                                         7467 non-null   object
 8   property_type                                                                           24451 non-null  object
 9   Borough                                                                                 24451 non-null  object
 10  All employer firms, Reference year 2017                                                 24451 non-null  object
 11  American Indian and Alaska Native alone, percent                                        24451 non-null  object
 12  Asian alone, percent                                                                    24451 non-null  object
 13  Bachelor's degree or higher, percent of persons age 25 years+, 2018-2022                24451 non-null  object
 14  Black or African American alone, percent                                                24451 non-null  object
 15  Building Permits, 2023                                                                  24451 non-null  object
 16  FIPS Code                                                                               24451 non-null  object
 17  Female persons, percent                                                                 24451 non-null  object
 18  Foreign born persons, percent, 2018-2022                                                24451 non-null  object
 19  High school graduate or higher, percent of persons age 25 years+, 2018-2022             24451 non-null  object
 20  Hispanic or Latino, percent                                                             24451 non-null  object
 21  Households with a broadband Internet subscription, percent, 2018-2022                   24451 non-null  object
 22  Households with a computer, percent, 2018-2022                                          24451 non-null  object
 23  Households, 2018-2022                                                                   24451 non-null  object
 24  Housing Units, July 1, 2023, (V2023)                                                    24451 non-null  object
 25  In civilian labor force, female, percent of population age 16 years+, 2018-2022         24451 non-null  object
 26  In civilian labor force, total, percent of population age 16 years+, 2018-2022          24451 non-null  object
 27  Land area in square miles, 2010                                                         24451 non-null  float64
 28  Land area in square miles, 2020                                                         24451 non-null  float64
 29  Language other than English spoken at home, percent of persons age 5 years+, 2018-2022  24451 non-null  object
 30  Living in same house 1 year ago, percent of persons age 1 year+, 2018-2022              24451 non-null  object
 31  Mean travel time to work (minutes), workers age 16 years+, 2018-2022                    24451 non-null  float64
 32  Median gross rent, 2018-2022                                                            24451 non-null  object
 33  Median household income (in 2022 dollars), 2018-2022                                    24451 non-null  object
 34  Median selected monthly owner costs -with a mortgage, 2018-2022                         24451 non-null  object
 35  Median selected monthly owner costs -without a mortgage, 2018-2022                      24451 non-null  object
 36  Median value of owner-occupied housing units, 2018-2022                                 24451 non-null  object
 37  Men-owned employer firms, Reference year 2017                                           24451 non-null  object
 38  Minority-owned employer firms, Reference year 2017                                      24451 non-null  object
 39  Native Hawaiian and Other Pacific Islander alone, percent                               24451 non-null  object
 40  Nonminority-owned employer firms, Reference year 2017                                   24451 non-null  object
 41  Nonveteran-owned employer firms, Reference year 2017                                    24451 non-null  object
 42  Owner-occupied housing unit rate, 2018-2022                                             24451 non-null  object
 43  Per capita income in past 12 months (in 2022 dollars), 2018-2022                        24451 non-null  object
 44  Persons 65 years and over, percent                                                      24451 non-null  object
 45  Persons in poverty, percent                                                             24451 non-null  object
 46  Persons per household, 2018-2022                                                        24451 non-null  float64
 47  Persons under 18 years, percent                                                         24451 non-null  object
 48  Persons under 5 years, percent                                                          24451 non-null  object
 49  Persons without health insurance, under age 65 years, percent                           24451 non-null  object
 50  Population estimates base, April 1, 2020, (V2023)                                       24451 non-null  object
 51  Population estimates, July 1, 2023, (V2023)                                             24451 non-null  object
 52  Population per square mile, 2010                                                        24451 non-null  object
 53  Population per square mile, 2020                                                        24451 non-null  object
 54  Population, Census, April 1, 2010                                                       24451 non-null  object
 55  Population, Census, April 1, 2020                                                       24451 non-null  object
 56  Population, percent change - April 1, 2020 (estimates base) to July 1, 2023, (V2023)    24451 non-null  object
 57  Total accommodation and food services sales, 2017 ($1,000)                              24451 non-null  object
 58  Total annual payroll, 2022 ($1,000)                                                     24451 non-null  object
 59  Total employer establishments, 2022                                                     24451 non-null  object
 60  Total employment, 2022                                                                  24451 non-null  object
 61  Total employment, percent change, 2021-2022                                             24451 non-null  object
 62  Total health care and social assistance receipts/revenue, 2017 ($1,000)                 24451 non-null  object
 63  Total nonemployer establishments, 2021                                                  24451 non-null  object
 64  Total retail sales per capita, 2017                                                     24451 non-null  object
 65  Total retail sales, 2017 ($1,000)                                                       24451 non-null  object
 66  Total transportation and warehousing receipts/revenue, 2017 ($1,000)                    24451 non-null  object
 67  Two or More Races, percent                                                              24451 non-null  object
 68  Veteran-owned employer firms, Reference year 2017                                       24451 non-null  object
 69  Veterans, 2018-2022                                                                     24451 non-null  object
 70  White alone, not Hispanic or Latino, percent                                            24451 non-null  object
 71  White alone, percent                                                                    24451 non-null  object
 72  With a disability, under age 65 years, percent, 2018-2022                               24451 non-null  object
 73  Women-owned employer firms, Reference year 2017                                         24451 non-null  object
dtypes: float64(9), object(65)
memory usage: 14.0+ MB

In [18]:
# Calculate the quartiles
Q1 = df['price'].quantile(0.25)
Q2 = df['price'].quantile(0.50)  # This is the median
Q3 = df['price'].quantile(0.75)

# Create a dictionary to display the quartile ranges
quartiles = {
    'Q1': Q1,
    'Median (Q2)': Q2,
    'Q3': Q3
}

print(quartiles)

{'Q1': 540000.0, 'Median (Q2)': 885000.0, 'Q3': 1712000.0}

In [19]:
IQR = Q3 - Q1
print(f'Interquartile Range (IQR): {IQR}')

Interquartile Range (IQR): 1172000.0

In [20]:


# Constants
annual_interest_rate = 6.71
monthly_interest_rate = (annual_interest_rate / 100) / 12
loan_term_months = 30 * 12

# Function to calculate monthly payment
def calculate_monthly_payment(price):
    if pd.isna(price) or price <= 0:
        return 0  # Handle cases where the price is NaN or less than or equal to 0
    return price * (monthly_interest_rate * (1 + monthly_interest_rate) ** loan_term_months) / ((1 + monthly_interest_rate) ** loan_term_months - 1)

# Create a new column for monthly payment
df['monthly_payment'] = df['price'].apply(calculate_monthly_payment)

# Display the DataFrame with the new column
print(df[['price', 'monthly_payment']].head())

      price  monthly_payment
0  749000.0      4838.101401
1  529000.0      3417.030228
2  529000.0      3417.030228
3  275000.0      1776.338966
4  575000.0      3714.163292

C:\Users\Sahan\AppData\Local\Temp\ipykernel_11956\2320275455.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['monthly_payment'] = df['price'].apply(calculate_monthly_payment)

In [40]:
import pandas as pd

# Load your DataFrame
df = pd.read_csv('your_file.csv')

# Constants
annual_interest_rate = 6.71
monthly_interest_rate = (annual_interest_rate / 100) / 12
loan_term_months = 30 * 12

# Display the DataFrame shape to confirm loading
print(df.shape)

In [21]:
chunk_size = 1000  # Adjust this size based on your system's capacity
for i in range(0, df.shape[0], chunk_size):
    end = min(i + chunk_size, df.shape[0])
    chunk = df.iloc[i:end]
    
    # Calculate payments for valid prices in the chunk
    chunk.loc[chunk['price'] > 0, 'monthly_payment'] = (
        chunk.loc[chunk['price'] > 0, 'price'] *
        (monthly_interest_rate * (1 + monthly_interest_rate) ** loan_term_months) /
        ((1 + monthly_interest_rate) ** loan_term_months - 1)
    )
    
    # Update the main DataFrame
    df.loc[i:end, 'monthly_payment'] = chunk['monthly_payment']
    
    print(f"Processed rows {i} to {end}")

# Display the DataFrame with the new column
print(df[['price', 'monthly_payment']].head())

Processed rows 0 to 1000
Processed rows 1000 to 2000
Processed rows 2000 to 3000
Processed rows 3000 to 4000
Processed rows 4000 to 5000
Processed rows 5000 to 6000
Processed rows 6000 to 7000
Processed rows 7000 to 8000
Processed rows 8000 to 9000
Processed rows 9000 to 10000
Processed rows 10000 to 11000
Processed rows 11000 to 12000
Processed rows 12000 to 13000
Processed rows 13000 to 14000
Processed rows 14000 to 15000
Processed rows 15000 to 16000
Processed rows 16000 to 17000
Processed rows 17000 to 18000
Processed rows 18000 to 19000
Processed rows 19000 to 20000
Processed rows 20000 to 21000
Processed rows 21000 to 22000
Processed rows 22000 to 23000
Processed rows 23000 to 24000
Processed rows 24000 to 24451
      price  monthly_payment
0  749000.0      4838.101401
1  529000.0      3417.030228
2  529000.0      3417.030228
3  275000.0      1776.338966
4  575000.0      3714.163292

In [22]:
df

,street_name,city,price,bedroom_number,price_per_unit,living_space,land_space,land_space_unit,property_type,Borough,...,"Total retail sales, 2017 ($1,000)","Total transportation and warehousing receipts/revenue, 2017 ($1,000)","Two or More Races, percent","Veteran-owned employer firms, Reference year 2017","Veterans, 2018-2022","White alone, not Hispanic or Latino, percent","White alone, percent","With a disability, under age 65 years, percent, 2018-2022","Women-owned employer firms, Reference year 2017",monthly_payment
0,135th Ave,Queens,749000.0,4.0,832.0,900.0,3924.0,sqft,MULTI_FAMILY,Queens,...,"19,297,120","20,371,315",3.2%,"1,032","38,515",24.0%,46.4%,5.8%,"10,125",4838.101401
1,28 142nd St,Queens,529000.0,3.0,435.0,1216.0,3000.0,sqft,SINGLE_FAMILY,Queens,...,"19,297,120","20,371,315",3.2%,"1,032","38,515",24.0%,46.4%,5.8%,"10,125",3417.030228
2,142nd St,Queens,529000.0,3.0,435.0,1216.0,3000.0,sqft,SINGLE_FAMILY,Queens,...,"19,297,120","20,371,315",3.2%,"1,032","38,515",24.0%,46.4%,5.8%,"10,125",3417.030228
3,11 Inwood Street,Queens,275000.0,3.0,163.0,1680.0,2200.0,sqft,SINGLE_FAMILY,Queens,...,"19,297,120","20,371,315",3.2%,"1,032","38,515",24.0%,46.4%,5.8%,"10,125",1776.338966
4,11 147th Street,Queens,575000.0,2.0,NaN,NaN,2000.0,sqft,SINGLE_FAMILY,Queens,...,"19,297,120","20,371,315",3.2%,"1,032","38,515",24.0%,46.4%,5.8%,"10,125",3714.163292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24476,Lathrop Ave,Staten Island,499900.0,3.0,699.0,715.0,4750.0,sqft,SINGLE_FAMILY,Staten Island,...,"4,302,741","1,091,017",2.4%,S,"11,522",55.4%,70.7%,6.5%,"1,504",3229.061269
24477,W 138th St #5I,Manhattan,330000.0,1.0,440.0,750.0,NaN,NaN,CONDO,Manhattan,...,"54,824,853","4,764,857",3.7%,"2,374","27,778",46.8%,62.9%,6.8%,"18,965",2131.606759
24478,Park Ter E #6,Manhattan,418800.0,1.0,NaN,NaN,NaN,NaN,CONDO,Manhattan,...,"54,824,853","4,764,857",3.7%,"2,374","27,778",46.8%,62.9%,6.8%,"18,965",2705.202759
24479,Park Ter E APT D76,Manhattan,410000.0,1.0,512.0,800.0,NaN,NaN,CONDO,Manhattan,...,"54,824,853","4,764,857",3.7%,"2,374","27,778",46.8%,62.9%,6.8%,"18,965",2648.359912
24480,Park Ter E APT D35,Manhattan,520000.0,2.0,533.0,975.0,NaN,NaN,CONDO,Manhattan,...,"54,824,853","4,764,857",3.7%,"2,374","27,778",46.8%,62.9%,6.8%,"18,965",3358.895498